<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Piyush Node App</title>
</head>

<body>
  <h1>Piyush Agnihotri Node Blog!</h1>
  <form method="post" action="/item/add">
    <label for="name">Name</label>
    <input type="text" name="name">
    <br>
    <label for="post">Post</label>
    <input type="textarea" name="post" placeholder="what do you want to say?">
    <br>
    <input type="submit" value="Add Post">
  </form>
  <h4>Posts:</h4>
  <ul>
    <% items.forEach(function(item) { %>
    <h3>
      Post by -  
      <%= item.name %>
    </h3>
    <p>
      <%= item.post %>
    </p>
    <% }); %>
  </ul>
</body>

</html>